    @import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: 'Vollkorn SC', serif;
        background: rgba(131, 203, 255, 0.721);
        background: linear-gradient(90deg, rgba(131, 203, 255, 1) 7%, rgba(240, 254, 255, 1) 100%, rgba(0, 140, 255, 0.495) 100%);
    }
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(131, 203, 255);
        background: linear-gradient(90deg, rgb(61, 74, 83) 7%, rgb(61, 101, 104) 86%, rgba(0, 140, 255, 0.571) 100%);
        border-bottom: 1px solid white;
        /* padding: 0.5em 0.5em; */
    }
    
    .navbar #nav-links {
        display: flex;
        list-style: none;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: bold;
        cursor: pointer;
    }
    
    .navbar #nav-links li {
        display: inline-block;
        line-height: 80px;
    }
    
    #nav-links a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        cursor: pointer;
        padding: 7px 9px;
        border-radius: 3px;
    }
    
    a .active,
    a:hover {
        background: rgb(197, 231, 220);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
    }
    
    .navbar .logo img {
        display: flex;
        height: 66px;
        width: 70px;
        margin-right: 10px;
        line-height: 50px;
        margin-bottom: 5px;
        border: 1px solid #000000;
        box-sizing: border-box;
        filter: inline(0px 4px 4px rgba(0, 0, 0, 0.25));
        border-radius: 100px;
        margin-top: 5px;
        -webkit-filter: inline(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    nav {
        display: flex;
    }
    
    .navbar .container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    
    .offcanvas-body ul a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 10px;
        justify-content: space-around;
        align-items: center;
        color: #000000;
    }
    
    .offcanvas-body ul a:hover {
        background: rgba(131, 203, 255, 0.721);
        ;
    }
    
    #sidebar {
        display: none;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .main .img-banner {
        width: 165px;
        height: 165px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-top: 30px;
    }
    
    .main h1 {
        margin-top: 30px;
        padding: 10px;
        line-height: 44px;
    }
    
    .main h4 {
        margin-top: 30px;
    }
    
    .container-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 300px;
        /* margin-top: 30px; */
    }
    
    .container-body .section {
        display: inline;
        flex-direction: column;
        align-items: center;
    }
    
    .container-body .card {
        max-width: 300px;
        height: 215px;
        margin: 30px 20px 30px;
        padding: 20px 15px;
        margin-left: 100px;
        display: inline-block;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 5px 202px rgba(0, 0, 0, .5);
        transition: 0.3s ease-in-out;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .container-body .card:hover {
        height: 500px;
    }
    
    .container-body .card .imgBx {
        position: relative;
        width: 260px;
        height: 260px;
        top: -40px;
        left: 5px;
        z-index: 1;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, .3);
    }
    
    .container-body .card .imgBx img {
        max-width: 100%;
        border-radius: 5px;
    }
    
    .container-body .card .content {
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        backface-visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }
    
    .container-body .card .content h2 {
        margin-top: -60px;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }
    
    .container-body .card:hover .content {
        margin-top: -60px;
        visibility: visible;
        opacity: 1;
        margin-bottom: 60px;
        transition-delay: 0.3s;
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        padding: 0 auto;
        max-width: auto;
        margin: 0 auto;
        margin-top: 0;
        box-sizing: border-box;
        border: 1px solid #f3f3f3cb;
        border-radius: 5px;
        background: rgb(131, 203, 255);
        background: linear-gradient(90deg, rgb(61, 74, 83) 7%, rgb(61, 101, 104) 86%, rgba(0, 140, 255, 0.571) 100%);
    }
    
    #link {
        display: flex;
        list-style: none;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        font-weight: bold;
        cursor: pointer;
    }
    
    #link a {
        display: flex;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        color: white;
        margin: 10px;
    }
    
    .fas {
        color: blue;
    }
    
    .fa-1g {
        color: black;
    }
    
    .fa-2g {
        color: rgb(215, 24, 24);
    }
    
    .fa-4g {
        color: blue;
    }
    
    .copyright {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    @media screen and (max-width: 760px) {
        .navbar {
            position: relative;
        }
        #nav-links {
            position: fixed;
            background: rgb(112, 109, 165);
            height: 1000vh;
            width: 100%;
            flex-direction: column;
            clip-path: circle(100px at 90% -10%);
            -webkit-clip-path: circle(100px at 90% -10%);
            transition: all 1s ease-out;
            -webkit-transition: all 1s ease-out;
            -moz-transition: all 1s ease-out;
            -ms-transition: all 1s ease-out;
            -o-transition: all 1s ease-out;
            /* margin: 50px; */
            pointer-events: none;
        }
        #nav-links li {
            display: flex;
            height: 100vh;
            width: 100%;
            justify-content: space-evenly;
            align-items: center;
        }
        #nav-links.open {
            clip-path: circle(1000px at 90% -10%);
            -webkit-clip-path: circle(1000px at 90% -10%);
            pointer-events: all;
        }
        .navbar .logo img {
            display: flex;
            height: 66px;
            width: 70px;
            margin-right: 10px;
            line-height: 50px;
            margin-bottom: 5px;
            border: 1px solid #000000;
            box-sizing: border-box;
            filter: inline(0px 4px 4px rgba(0, 0, 0, 0.25));
            border-radius: 100px;
            margin-top: 5px;
            -webkit-filter: inline(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
        .navbar .container-fluid {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
        }
        #sidebar {
            display: flex;
        }
        .container-body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 300px;
            margin-left: 50px;
        }
    }
    /* @media screen and (max-width: 858px) {
    * {
        margin: 0;
        padding: 0;
    }
    .navbar .logo img {
        display: none;
    }
    .checkbtn {
        display: block;
    }
} */